<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>server.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/inizia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>server.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/registrati</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaRichiesta</servlet-name>
    <servlet-class>server.CreaRichiesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaRichiesta</servlet-name>
    <url-pattern>/creaRichiesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminaNotifica</servlet-name>
    <servlet-class>server.EliminaNotifica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaNotifica</servlet-name>
    <url-pattern>/elimina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Segui</servlet-name>
    <servlet-class>server.Segui</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Segui</servlet-name>
    <url-pattern>/segui</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MostraEventi</servlet-name>
    <servlet-class>server.MostraEventi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraEventi</servlet-name>
    <url-pattern>/mostra</url-pattern>
  </servlet-mapping>
  
  
</web-app>